.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
filter-bar .confirm {
  padding: 8px 10px 4px;
  background: #ecf0f1;
  border-bottom: 1px solid #ccc;
}
filter-bar .confirm ul {
  margin-bottom: 0px;
}
filter-bar .confirm li {
  display: inline-block;
}
filter-bar .confirm li:first-child {
  font-weight: bold;
  font-size: 1.2em;
}
filter-bar .confirm li button {
  font-size: 0.9em;
  padding: 2px 8px;
}
filter-bar .confirm .filter {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 110px;
  font-size: 12px;
  background-color: #b4bcc2;
  color: #333;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 100%;
  padding: 4px 8px;
  border-radius: 12px;
}
filter-bar .bar {
  padding: 6px 6px 4px 6px;
  background: #ecf0f1;
  border-bottom: 1px solid #ccc;
}
filter-bar .bar-condensed {
  padding: 2px 6px 0px 6px !important;
  font-size: 0.9em;
  background: #dde4e6;
}
filter-bar .bar .filter-link {
  position: relative;
  display: inline-block;
  border: 4px solid transparent;
  margin-bottom: 4px;
}
filter-bar .bar .filter-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
filter-bar .bar .filter {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 110px;
  font-size: 12px;
  background-color: #569f76;
  color: #fff;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 100%;
  padding: 4px 8px;
  border-radius: 12px;
}
filter-bar .bar .filter:hover > .filter-actions {
  display: block;
}
filter-bar .bar .filter:hover > .filter-description {
  opacity: 0.15;
  background: transparent;
  overflow: hidden;
}
filter-bar .bar .filter > .filter-actions {
  font-size: 1.3em;
  line-height: 1.1em;
  position: absolute;
  padding: 4px 8px;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
  white-space: nowrap;
}
filter-bar .bar .filter > .filter-actions > .action {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 6px;
  margin-right: 8px;
}
filter-bar .bar .filter > .filter-actions > .action:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
filter-bar .bar .filter.negate {
  background-color: #c6675d;
}
filter-bar .bar .filter a {
  color: #FFF;
}
filter-bar .bar .filter.disabled {
  opacity: 0.6;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.3) 10px, rgba(255, 255, 255, 0.3) 20px);
}
filter-bar .bar .filter.disabled:hover span {
  text-decoration: none;
}
