.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.config:before,
.config:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.config:after {
  clear: both;
}
.error {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: center;
}
.error p {
  margin-top: 15%;
  font-size: 18px;
  text-wrap: wrap;
}
.visualize-chart {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  min-height: 0;
  min-width: 0;
}
.vis-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}
/* YAxis logic */
.y-axis-col-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}
.y-axis-col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 36px;
  -ms-flex: 1 0 36px;
  flex: 1 0 36px;
  min-height: 0;
  min-width: 0;
}
.y-axis-spacer-block {
  min-height: 45px;
}
.y-axis-div-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 38px;
  min-height: 20px;
  min-width: 0;
}
.y-axis-div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 25px;
  -ms-flex: 1 1 25px;
  flex: 1 1 25px;
  min-width: 14px;
  min-height: 14px;
}
.y-axis-title {
  min-height: 14px;
  min-width: 14px;
}
.y-axis-chart-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 14px;
  min-width: 0;
  width: 14px;
}
.y-axis-title text,
.x-axis-title text {
  font-size: 9pt;
  fill: #848e96;
  font-weight: bold;
}
.chart-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  min-height: 14px;
  min-width: 14px;
}
.chart-title text {
  font-size: 11px;
  fill: #848e96;
}
.vis-col-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 20px;
  -ms-flex: 1 0 20px;
  flex: 1 0 20px;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  margin-right: 8px;
}
.chart-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 20px;
  -ms-flex: 1 0 20px;
  flex: 1 0 20px;
  overflow: visible;
  margin: 0;
  min-height: 0;
  min-width: 0;
}
.chart-wrapper-column {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 20px;
  -ms-flex: 1 0 20px;
  flex: 1 0 20px;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
}
.chart-wrapper-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  min-height: 0;
  min-width: 0;
}
.chart {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  min-height: 0;
  min-width: 0;
  overflow: visible;
}
.chart > svg {
  display: block;
}
.chart-row {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}
.chart-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}
.x-axis-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 45px;
  min-width: 0;
  overflow: visible;
}
.x-axis-div-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 15px;
  min-width: 0;
}
.x-axis-chart-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 15px;
  max-height: 15px;
  min-width: 20px;
}
.x-axis-title {
  min-height: 15px;
  max-height: 15px;
  min-width: 20px;
  overflow: hidden;
}
.x-axis-div {
  margin-top: -5px;
  min-height: 20px;
  min-width: 20px;
}
.legend-col-wrapper {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
}
.legend-col-wrapper .legend-toggle {
  cursor: pointer;
  opacity: 0.75;
  white-space: nowrap;
  font-size: 0.9em;
}
.legend-col-wrapper .legend-toggle .legend-open {
  margin-right: 20px;
}
.legend-col-wrapper .legend-toggle .legend-closed {
  font-size: 1.5em;
  padding-left: 5px;
}
.legend-col-wrapper .column-labels {
  text-align: right;
}
.legend-col-wrapper .legend-ul {
  list-style-type: none;
  padding: 0;
  visibility: visible;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  min-width: 60px;
  margin-right: 5px;
}
.legend-col-wrapper .legend-ul li.color {
  min-height: 22px;
  padding: 3px 0 3px 0;
  font-size: 12px;
  line-height: 13px;
  color: #666;
  cursor: default;
  text-align: left;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.legend-col-wrapper .legend-ul li.color .dots {
  padding-right: 5px;
}
.legend-col-wrapper .legend-ul.hidden {
  visibility: hidden;
}
/* Axis Styles */
.axis {
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.axis line,
.axis path {
  stroke: #ddd;
  fill: none;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.tick text {
  font-size: 8pt;
  fill: #848e96;
}
/* Brush Styling */
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/* SVG Element Default Styling */
rect {
  stroke: none;
  opacity: 1;
}
rect:hover {
  opacity: 0.65;
}
circle {
  opacity: 0;
}
circle:hover {
  opacity: 1;
  stroke-width: 10px;
  stroke-opacity: 0.65;
}
.overlap_area {
  opacity: 0.6;
}
.blur_shape {
  opacity: 0.3 !important;
}
.slice:hover {
  opacity: 0.65;
}
.leaflet-clickable:hover {
  stroke-width: 10px;
  stroke-opacity: 0.65;
}
/* Visualization Styling */
.line circle {
  opacity: 1;
}
.line circle:hover {
  stroke-width: 10px;
  stroke-opacity: 0.65;
}
.endzone {
  opacity: 0.05;
  fill: #000;
  pointer-events: none;
}
.vis-tooltip,
.vis-tooltip-sizing-clone {
  visibility: hidden;
  line-height: 1.1;
  font-size: 12px;
  font-weight: normal;
  background: rgba(34, 34, 34, 0.93);
  color: #ecf0f1;
  border-radius: 4px;
  position: fixed;
  z-index: 120;
  word-wrap: break-word;
  max-width: 40%;
  overflow: hidden;
  pointer-events: none;
}
.vis-tooltip > :last-child,
.vis-tooltip-sizing-clone > :last-child {
  margin-bottom: 8px;
}
.vis-tooltip > *,
.vis-tooltip-sizing-clone > * {
  margin: 8px 8px 0;
}
.vis-tooltip table td,
.vis-tooltip-sizing-clone table td,
.vis-tooltip table th,
.vis-tooltip-sizing-clone table th {
  padding: 4px;
}
.vis-tooltip table td.row-bucket,
.vis-tooltip-sizing-clone table td.row-bucket,
.vis-tooltip table th.row-bucket,
.vis-tooltip-sizing-clone table th.row-bucket {
  word-break: break-all;
}
.vis-tooltip table thead tr,
.vis-tooltip-sizing-clone table thead tr {
  border-bottom: 1px solid #95a5a6;
}
.vis-tooltip table tbody tr,
.vis-tooltip-sizing-clone table tbody tr {
  border-top: 1px solid #95a5a6;
}
.vis-tooltip table tbody tr:first-child,
.vis-tooltip-sizing-clone table tbody tr:first-child {
  border-top: none;
}
.vis-tooltip-header {
  margin: 0 0 8px 0;
  padding: 4px 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.vis-tooltip-header:last-child {
  margin-bottom: 0;
}
.vis-tooltip-header-icon {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 8px;
}
.vis-tooltip-header-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
}
.vis-tooltip-header + * {
  margin-top: 8px;
}
.vis-tooltip-sizing-clone {
  visibility: hidden;
  position: fixed;
  top: -500px;
  left: -500px;
}
/* _tilemap */
.tilemap {
  margin-bottom: 6px;
  border: 1px solid #DDD;
  position: relative;
}
/* leaflet Dom Util div for map label */
.tilemap-legend {
  padding: 5px 7px 5px 7px;
  margin: 0;
  font: 11px/13px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: left;
  line-height: 15px;
  color: #666;
}
.tilemap-legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin: 2px 4px 0 0;
  opacity: 1;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  background: #aaa;
}
/* leaflet Dom Util div for map legend */
.tilemap-info {
  padding: 3px 7px 3px 7px;
  margin: 0;
  font-size: 12px;
  background: white;
  background: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.tilemap-info h2 {
  font-size: 12px !important;
  margin: 0 !important;
  padding: 0;
  color: #444;
}
.leaflet-control-fit {
  text-align: center;
  background: #fff;
  width: 26px;
  height: 26px;
  outline: 1px black;
}
/* over-rides leaflet popup styles to look like kibana tooltip */
.leaflet-container {
  background: #fff !important;
  outline: 0 !important;
}
.leaflet-popup-content-wrapper {
  margin: 0;
  padding: 0;
}
.leaflet-popup {
  margin-bottom: 16px !important;
}
.leaflet-popup-content-wrapper {
  background: rgba(70, 82, 93, 0.95) !important;
  color: #ecf0f1 !important;
  border-radius: 4px !important;
  padding: 0 !important;
}
.leaflet-popup-content {
  padding: 8px !important;
  margin: 0 !important;
  line-height: 14px !important;
}
.leaflet-popup-tip-container,
.leaflet-popup-close-button {
  display: none !important;
}
.leaflet-control-layers-expanded {
  padding: 0;
  margin: 0;
  font: 12px/13px Arial, Helvetica, sans-serif;
  line-height: 14px !important;
}
.leaflet-control-layers-expanded label {
  font-weight: normal !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* filter to desaturate mapquest tiles */
img.leaflet-tile {
  -webkit-filter: brightness(1.03) grayscale(0.83) contrast(1.07);
  -moz-filter: brightness(1.03) grayscale(0.83) contrast(1.07);
  -ms-filter: brightness(1.03) grayscale(0.83) contrast(1.07);
  filter: brightness(1.03) grayscale(0.83) contrast(1.07);
}
img.leaflet-tile.filters-off {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}
.vis-alerts {
  position: relative;
}
.vis-alerts-tray {
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  list-style: none;
  padding: 0;
  transition-property: opacity;
  transition-delay: 50ms;
  transition-duration: 50ms;
}
.vis-alerts .vis-alert {
  margin: 0 10px 10px;
  padding: 5px 10px 5px 5px;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.vis-alerts .vis-alert-success {
  background-color: rgba(49, 196, 113, 0.75);
  border-color: #279b59;
  color: #ffffff;
}
.vis-alerts .vis-alert-success hr {
  border-top-color: #22874e;
}
.vis-alerts .vis-alert-success .alert-link {
  color: #e6e6e6;
}
.vis-alerts .vis-alert-info {
  background-color: rgba(31, 107, 122, 0.75);
  border-color: #154751;
  color: #ffffff;
}
.vis-alerts .vis-alert-info hr {
  border-top-color: #0f353d;
}
.vis-alerts .vis-alert-info .alert-link {
  color: #e6e6e6;
}
.vis-alerts .vis-alert-warning {
  background-color: rgba(243, 156, 18, 0.75);
  border-color: #c87f0a;
  color: #ffffff;
}
.vis-alerts .vis-alert-warning hr {
  border-top-color: #b06f09;
}
.vis-alerts .vis-alert-warning .alert-link {
  color: #e6e6e6;
}
.vis-alerts .vis-alert-danger {
  background-color: rgba(231, 76, 60, 0.75);
  border-color: #d62c1a;
  color: #ffffff;
}
.vis-alerts .vis-alert-danger hr {
  border-top-color: #bf2718;
}
.vis-alerts .vis-alert-danger .alert-link {
  color: #e6e6e6;
}
.vis-alerts-icon {
  margin: 0;
  padding: 0 10px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.vis-alerts-text {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}
